language: objective-c
osx_image: xcode11
notifications:
  email: false
branches:
  only:
    - master
    - development
git:
  submodules:
    false
before_install:
  - gem install fastlane --no-document
  - echo -e "machine bitbucket.org\n  login $BITBUCKET_USER_NAME\n  password $BITBUCKET_USER_PASSWORD" >~/.netrc
  - git submodule add https://bitbucket.org/happaning/happaning_rc1.git

jobs:
  include:
    - stage: Swiflint-Prod
      if: branch = master
      script:
        - cd happaning_rc1
        - ./Pods/SwiftLint/swiftlint --reporter junit
    - stage: Swiflint-Dev
      if: branch = development
      script:
        - cd happaning_rc1
        - git checkout development
        - git pull
        - ./Pods/SwiftLint/swiftlint --reporter junit
    - stage: XCTest-Prod
    if: branch = master
      script:
        - cd happaning_rc1
        - fastlane scan
    if: branch = development
      script:
        - cd happaning_rc1
        - git checkout development
        - git pull
        - fastlane scan
